# python package distribution files
dist/*
develop-eggs/*
*.egg-info/*
eggs/
.eggs/
sdist/
MANIFEST


# build files
build/*

# jupyter notebook
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
*/.ipynb_checkpoints/*


